.home {
  height: 500px;
  background-color: #212b38;
}

.bienvenidos {
  margin: auto;
  padding-top: 100px;
}

.bienvenidos > h1,
.bienvenidos > h2 {
  text-align: center;
  color: white;
  font-size: 50px;
}
